.homeComponent {
   /* background-image: url('../../assets/images/mtee_slideshow_02.jpg');  */
    background-position: center;
    background-size: cover;
    height:100%;
    width: 100%;
  }

  ::ng-deep .mainpanel {
    padding-top: 0px;
    margin-top: 0px;
  }

  .home_Card {
    opacity: 0.9;
    filter: alpha(opacity=40);
    background-color: black;
    height:100%;
    justify-content: center;
  }

  .mat-card-title
  {
    color:seashell;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .mat-card-header  {
    justify-content: center;
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mat-card-content {
    justify-content: center;
    color:black;
    background-color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .mat-card-subtitle {
    justify-content: center;
    color:cadetblue;
    text-align: center;
    c: normal;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .action-buttons {
    justify-content: center;
    float:right;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rebeccapurple;
    color:white;
  }

  .frame {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .overlay {
    position: relative;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.9); /* Black see-through */
    width: 100%;
    transition: .1s ease;
    opacity: 1;
    color:  #648BA2;
    overflow: auto;
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  .frame:hover .overlay {
    opacity: 1;
  }

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }

  .login,
  .image {
    min-height: 100vh;
  }

  .bg-image {
    background-image: url('../../assets/mtee_slideshow_03.jpg');
    background-size: cover;
    background-position: center;
  }

  .login-heading {
    font-weight: 300;
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }

  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  /* Fallback for Edge
  -------------------------------------------------- */

  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }

  /* Fallback for IE
  -------------------------------------------------- */

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
