html,body{height:100%;margin:0;padding:0;}

.app-header{justify-content:space-between;position:fixed;top:0;left:0;right:0;z-index:2;box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}
.login-wrapper{height:100%;}
.positronx{text-decoration:none;color: rgba(255, 254, 250, 0.08);}
.box{position:relative;top:0;opacity:0.92;float:left;padding:60px 50px 40px 50px;width:100%;background: #fffefa;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:330px;}
.box.back{transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);top:-20px;opacity:.8;z-index:-1;}
.box:before{content:"";width:100%;height:30px;border-radius:10px;position:absolute;top:-10px;background: rgba(114, 10, 255, 0.9);left:0;transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);z-index:-1;}
.login-wrapper .login-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .login-full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:40px 70px 50px;}
.login-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background: #720aff;}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}

register-container {
    display: flex;
    flex-direction: column;
  }

  .register-container > * {
    width: 100%;
  }


 .register-wrapper {
     color:red;
 }

 .homeComponent {
  background-image: url('../../assets/mtee-home-image.jpg');
  background-position: center;
  background-size: cover;
  height:100%;
  width: 100%;}
 .mat-radio-button{
   padding-left: 10px;
 }
.mat-card-content{
  color: #720AFF;
}
.buttonbox{
  padding: 10px;
}
.errorMessage{
  color: black;
  background-color: #ff9a09;
  text-align: center;
  font-size: large;
}
.successMessage{
  color: rgb(255, 254, 250);
  background-color: #9bb464;
  text-align: center;
  font-size: large;
}
.gender{
color: gray;
}

.login-form {
  width: 380px;
  margin: 10px auto;

}
  .login-form form {
    margin-bottom: 15px;
      background-color: white;
      box-shadow: 0px 2px 2px white;
      padding: 20px;
      margin-bottom: auto;
      border-radius: 10px ;
  }
  .login-form h4 {
      margin: 0 0 15px;
      color:  #df7f38;

  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn {
      font-size: 15px;
      font-weight: bold;
  }
  .action-button {
      background-color:#9bb464;
      color: white;
  }
  .action-button:hover {
      background-color:#df7f38;
      color: white;
  }
  .LinkButton {
     color: #648BA2;
  }
  .action-button-secondary {
      background-color:#D19379;
      color: white;
  }
  .action-button-secondary:hover {
      background-color:#648BA2;
      color: white;
  }

  .login-form{

  }
